@import url(<link rel="stylesheet" href="https://use.typekit.net/gxv0mgk.css">);

body{font-family: "proxima-nova", sans-serif ;
background-color: #eef3f4;
height: 100%;
}

/* --header - Logo and login section Starts-- */
.box-container{box-sizing: border-box 600px;
    background-color: #ffffff
    ;
    padding: 150px;
    
    }
    .header-decoration{display: flex;
    align-items: center;
    justify-content: space-between;}
    .login-button{background-color: transparent;
        font-size: 14px;
    border: none;
cursor: pointer;
}

.login-button:hover{
 
    transition: 0.7s all ease-out;
    color: #87c241;
   font-family: "proxima-nova", sans-serif;
font-size: 14px;
font-weight: bold;
font-style: normal;
    
}
    

/* --header - Logo and login section Ends-- */
/* --First Container Starts-- */

.container-items{
   
    display: flex;
    align-items: center;
    
   
   
}
.main-text{
justify-content: flex-start
;
}
.hero-icon-style{
    
background-color: #eef3f4;
border-radius: 50% ;
display: flex ;
width: 469px;
height: 469px;
align-items: center;
margin-top: 20px;

}



/* --First Container Ends-- */